@font-face {
	/* Use for musical notation */
	font-family: "NotoMusic";
	src: url("/fonts/NotoMusic-Regular.ttf") format("truetype");
}

@font-face {
	/* Use for all other text */
	font-family: "NotoSans";
	src: url("/fonts/NotoSans-VariableFont_wdth,wght.ttf") format("truetype");
}

:root {
	--bg-color: #1a1a1a;
	--text-color: #ffffff;
	--accent-color: #646cff;
	--error-color: #ee3b3b;
	--card-bg: #1e1e1e;
	--border-color: #333;
	--font-family:
		"NotoSans", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	--exit-hover: 300ms ease-out;
	--enter-hover: 150ms ease-in;
}

body {
	color-scheme: dark;
	margin: 0;
	background-color: var(--bg-color);
	color: var(--text-color);
	font-family: var(--font-family);
	line-height: 1.5;
	min-height: 100vh;
	font-family: "NotoSans", cursive;
	accent-color: var(--accent-color);
}

#app {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0.5rem;
}

.icon {
	width: 1em;
}

/* Responsive header font sizes */
/* using clamp */

h1 {
	font-size: clamp(1.7rem, 1.7vw + 0.85rem, 3.4rem);
}

h2 {
	font-size: clamp(1.275rem, 1.275vw + 0.85rem, 2.55rem);
}

h3 {
	font-size: clamp(0.85rem, 0.85vw + 0.85rem, 1.7rem);
}

h4 {
	font-size: clamp(0.68rem, 0.68vw + 0.68rem, 1.02rem);
}

h5 {
	font-size: clamp(0.51rem, 0.51vw + 0.51rem, 0.68rem);
}

h6 {
	font-size: clamp(0.34rem, 0.34vw + 0.34rem, 0.51rem);
}

/*responsive body fontsize using clamp*/

body {
	font-size: clamp(0.68rem, 0.85vw + 0.85rem, 1.02rem);
}

input {
	background-color: var(--card-bg);
	border: 1px solid var(--border-color);
	color: var(--text-color);
	padding: 0.5em;
	border-radius: 4px;
	font-size: 1em;
}

@media print {
	body {
		background-color: white;
		color: black;
	}

	.no-print {
		display: none !important;
	}

	#app {
		padding: 0;
		max-width: none;
	}

	.card {
		border: none;
		padding: 0;
		background-color: transparent;
		color: black;
	}
}
